<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Okamy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}"> <!-- Custom CSS for Jazzmin -->
</head>
<body>
    <header class="bg-light py-3">
        <div class="container">
            <h1>Okamy</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:home' %}"><i class="fas fa-home"></i> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:gestionar_funcionario' user_id=request.user.id %}"><i class="fas fa-user-cog"></i> Gestionar Funcionario</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="eliminarDatos()"><i class="fas fa-user-times"></i> Eliminar Datos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:register' %}"><i class="fas fa-user-plus"></i> Registrar</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:login_view' %}"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:logout_view' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="generarCertificado()"><i class="fas fa-file-pdf"></i> Generar Certificado</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" onclick="previewCertificado()"><i class="fas fa-eye"></i> Previsualizar Certificado</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:listar_cedulas' %}"><i class="fas fa-list"></i> Listar Cédulas</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:buscar_certificado' %}"><i class="fas fa-search"></i> Buscar Certificado</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:cargar_csv' %}"><i class="fas fa-upload"></i> Cargar CSV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'certificado:descargar_csv' %}"><i class="fas fa-download"></i> Descargar CSV</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-light py-3 mt-4">
        <div class="container">
            <p>© 2024 Okamy</p>
        </div>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function eliminarDatos() {
            var cedula = prompt("Por favor, ingresa la cédula:");
            if (cedula) {
                window.location.href = "{% url 'certificado:eliminar_datos' cedula='__cedula__' %}".replace('__cedula__', cedula);
            }
        }

        function generarCertificado() {
            var cedula = prompt("Por favor, ingresa la cédula:");
            if (cedula) {
                window.location.href = "{% url 'certificado:generar_certificado' cedula='__cedula__' %}".replace('__cedula__', cedula);
            }
        }

        function previewCertificado() {
            var cedula = prompt("Por favor, ingresa la cédula:");
            if (cedula) {
                window.location.href = "{% url 'certificado:preview_certificado' cedula='__cedula__' %}".replace('__cedula__', cedula);
            }
        }
    </script>
</body>
</html>