{% extends "base.html" %}

{% block title %}Listado de Usuarios{% endblock %}

{% block content %}
<h1>Listado de Usuarios</h1>
<ul class="list-group">
    {% for usuario in datos_usuarios %}
        <li class="list-group-item">
            <strong>Nombre:</strong> {{ usuario.nombre }}<br>
            <strong>Cédula:</strong> {{ usuario.cedula }}<br>
            <strong>CPS:</strong> {{ usuario.CPS }}<br>
            <strong>Año del Contrato:</strong> {{ usuario.año_contrato }}
        </li>
    {% endfor %}
</ul>
{% endblock %}