{% extends "base.html" %}

{% block title %}Resultado de Búsqueda{% endblock %}

{% block content %}
<h1>Resultado de Búsqueda</h1>
{% if funcionario %}
    <div class="alert alert-success" role="alert">
        Funcionario encontrado: {{ funcionario.nombre }} (Cédula: {{ funcionario.cedula }})<br>
        <strong>Año del Contrato:</strong> {{ funcionario.año_contrato }}<br>
        <strong>Radicado:</strong> {{ funcionario.radicado }}
    </div>
    <a href="{% url 'certificado:gestionar_funcionario' user_id=funcionario.usuario.id %}" class="btn btn-primary">Gestionar Funcionario</a>
{% elif mensaje %}
    <div class="alert alert-danger" role="alert">
        {{ mensaje }}
    </div>
{% endif %}
{% endblock %}